openapi: 3.1.0
info:
  title: Maersk Air Booking AirBookings VGM API
  description: 'Submit air freight booking requests via Maersk Air Cargo. Covers consolidation, charter, and forwarder bookings between supported origin and destination airports.

    '
  version: '1.0'
  contact:
    name: Maersk Developer Support
    url: https://developer.maersk.com/support
servers:
- url: https://api.maersk.com
  description: Production Gateway
security:
- ConsumerKey: []
tags:
- name: VGM
  description: Verified Gross Mass declarations.
paths:
  /export-shipments/vgm/v1/shipments/{transportDocumentReference}/vgm:
    post:
      summary: Submit Verified Gross Mass
      description: 'Submit one or more VGM entries for the containers on a shipment.

        '
      operationId: submitVgm
      tags:
      - VGM
      parameters:
      - name: transportDocumentReference
        in: path
        required: true
        schema:
          type: string
      - name: Consumer-Key
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VgmSubmission'
      responses:
        '202':
          description: VGM accepted for processing.
        '400':
          description: Validation error.
    get:
      summary: Get Verified Gross Mass
      description: Retrieve currently recorded VGM entries for a shipment.
      operationId: getVgm
      tags:
      - VGM
      parameters:
      - name: transportDocumentReference
        in: path
        required: true
        schema:
          type: string
      - name: Consumer-Key
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: VGM entries returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VgmSubmission'
components:
  schemas:
    VgmSubmission:
      type: object
      required:
      - containers
      properties:
        transportDocumentReference:
          type: string
        containers:
          type: array
          items:
            type: object
            required:
            - equipmentReference
            - verifiedGrossMass
            - weighingMethod
            - responsibleParty
            properties:
              equipmentReference:
                type: string
              verifiedGrossMass:
                type: number
              massUnit:
                type: string
                enum:
                - KGM
                - LBR
                default: KGM
              weighingMethod:
                type: string
                enum:
                - METHOD1
                - METHOD2
                description: SOLAS VGM weighing method.
              weighingDate:
                type: string
                format: date-time
              responsibleParty:
                type: object
                properties:
                  partyName:
                    type: string
                  signatory:
                    type: string
                  contactEmail:
                    type: string
              weighingFacility:
                type: object
                properties:
                  facilityName:
                    type: string
                  UNLocationCode:
                    type: string
  securitySchemes:
    ConsumerKey:
      type: apiKey
      in: header
      name: Consumer-Key
