openapi: 3.2.0
info:
  title: Maersk Product Offers Locations API
  description: 'Quote prices and product offers for ocean shipments. Returns route and schedule, vessel and deadline information, and prices including surcharges for the requested origin, destination, container size-type combination, and departure date.

    '
  version: '2.0'
  contact:
    name: Maersk Developer Support
    url: https://developer.maersk.com/support
servers:
- url: https://api.productmanagement.maersk.com
  description: Production
- url: https://api-spt.env.productmanagement.maersk.com
  description: Sandbox
security:
- ConsumerKey: []
- ForgeRockJWT: []
tags:
- name: Locations
  description: Origin and destination port lookups.
paths:
  /offers/v2/offers/brand/{brandScac}/locations:
    get:
      summary: Get Port Pair Locations
      description: List available origin-destination port combinations.
      operationId: getPortPairs
      tags:
      - Locations
      parameters:
      - name: brandScac
        in: path
        required: true
        schema:
          type: string
      - name: containerIsoCode
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Port pairs returned.
  /offers/v2/offers/brand/{brandScac}/locations/origins:
    get:
      summary: Get Origin Ports
      description: List origin ports with available offers.
      operationId: getOriginPorts
      tags:
      - Locations
      parameters:
      - name: brandScac
        in: path
        required: true
        schema:
          type: string
      - name: cityName
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Origin ports returned.
  /offers/v2/offers/brand/{brandScac}/locations/destinations:
    get:
      summary: Get Destination Ports
      description: List destination ports with available offers.
      operationId: getDestinationPorts
      tags:
      - Locations
      parameters:
      - name: brandScac
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Destination ports returned.
components:
  securitySchemes:
    ConsumerKey:
      type: apiKey
      in: header
      name: Consumer-Key
    ForgeRockJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
