openapi: 3.1.0
info:
  title: Maersk Air Booking AirBookings Offers API
  description: 'Submit air freight booking requests via Maersk Air Cargo. Covers consolidation, charter, and forwarder bookings between supported origin and destination airports.

    '
  version: '1.0'
  contact:
    name: Maersk Developer Support
    url: https://developer.maersk.com/support
servers:
- url: https://api.maersk.com
  description: Production Gateway
security:
- ConsumerKey: []
tags:
- name: Offers
  description: Product offers, prices, and surcharges.
paths:
  /offers/v2/offers/brand/{brandScac}/departuredate/{departureDate}:
    get:
      summary: List Available Offers
      description: 'Retrieve product offers for a given origin, destination, container, and departure date. Includes pricing, schedule, demurrage and detention conditions.

        '
      operationId: listAvailableOffers
      tags:
      - Offers
      parameters:
      - name: brandScac
        in: path
        required: true
        description: Carrier SCAC code (MAEU, SEAU, MCPU, SEJJ).
        schema:
          type: string
          example: MAEU
      - name: departureDate
        in: path
        required: true
        schema:
          type: string
          format: date
      - name: collectionOriginCityName
        in: query
        required: true
        schema:
          type: string
      - name: collectionOriginCountryCode
        in: query
        required: true
        schema:
          type: string
      - name: deliveryDestinationCityName
        in: query
        required: true
        schema:
          type: string
      - name: deliveryDestinationCountryCode
        in: query
        required: true
        schema:
          type: string
      - name: containerIsoCode
        in: query
        required: true
        schema:
          type: string
          example: 22G1
      - name: serviceMode
        in: query
        schema:
          type: string
          enum:
          - Carrier-Haulage
          - Merchant-Haulage
      responses:
        '200':
          description: Offers returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductOffer'
components:
  schemas:
    ProductOffer:
      type: object
      properties:
        offerId:
          type: string
        carrierServiceCode:
          type: string
        originLocation:
          type: string
        destinationLocation:
          type: string
        departureDate:
          type: string
          format: date-time
        arrivalDate:
          type: string
          format: date-time
        transitTime:
          type: integer
        containerIsoCode:
          type: string
        totalPrice:
          $ref: '#/components/schemas/Price'
        priceBreakdown:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        demurrageDetention:
          type: object
          properties:
            originFreeDays:
              type: integer
            destinationFreeDays:
              type: integer
    Price:
      type: object
      properties:
        chargeCode:
          type: string
        chargeName:
          type: string
        amount:
          type: number
        currency:
          type: string
        basis:
          type: string
          enum:
          - PerContainer
          - PerShipment
          - PerBillOfLading
  securitySchemes:
    ConsumerKey:
      type: apiKey
      in: header
      name: Consumer-Key
