openapi: 3.1.0
info:
  title: Maersk Schedules API
  description: >
    Point-to-Point and Commercial Schedules API for ocean shipping. Retrieve
    sailing schedules, vessel routes, and transit times between origin and
    destination ports. DCSA-aligned schedule structures.
  version: '2.0'
  contact:
    name: Maersk Developer Support
    url: https://developer.maersk.com/support

servers:
  - url: https://api.maersk.com
    description: Production Gateway

security:
  - ConsumerKey: []

tags:
  - name: Schedules
    description: Sailing schedules and vessel routings.

paths:
  /products/ocean-products/point-to-point:
    get:
      summary: Get Point To Point Schedules
      description: >
        Returns sailing options between an origin and destination port for a
        given date range, including vessel, voyage, transit time, and
        intermediate transshipments.
      operationId: getPointToPointSchedules
      tags:
        - Schedules
      parameters:
        - name: collectionOriginCountryCode
          in: query
          required: true
          schema:
            type: string
            example: DK
        - name: collectionOriginCityName
          in: query
          required: true
          schema:
            type: string
            example: Aarhus
        - name: deliveryDestinationCountryCode
          in: query
          required: true
          schema:
            type: string
            example: US
        - name: deliveryDestinationCityName
          in: query
          required: true
          schema:
            type: string
            example: Newark
        - name: dateRange
          in: query
          description: Departure date range in ISO 8601, e.g. P4W.
          schema:
            type: string
            example: P4W
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: Consumer-Key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Schedules returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SchedulePoint'

  /dcsa/cs/v1/service-schedules:
    get:
      summary: Get Commercial Service Schedules
      description: >
        Retrieve commercial service schedules per DCSA Commercial Schedules
        interface. Returns the planned port rotations for a carrier service.
      operationId: getServiceSchedules
      tags:
        - Schedules
      parameters:
        - name: carrierServiceCode
          in: query
          schema:
            type: string
        - name: UNLocationCode
          in: query
          schema:
            type: string
        - name: Consumer-Key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Service schedules returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceSchedule'

components:
  securitySchemes:
    ConsumerKey:
      type: apiKey
      in: header
      name: Consumer-Key
  schemas:
    SchedulePoint:
      type: object
      properties:
        transportSchedules:
          type: array
          items:
            type: object
            properties:
              vesselName:
                type: string
              vesselIMONumber:
                type: string
              carrierServiceCode:
                type: string
              carrierVoyageNumber:
                type: string
              departureDateTime:
                type: string
                format: date-time
              arrivalDateTime:
                type: string
                format: date-time
              transitTime:
                type: integer
                description: Transit time in days.
    ServiceSchedule:
      type: object
      properties:
        carrierServiceCode:
          type: string
        carrierServiceName:
          type: string
        vesselSchedules:
          type: array
          items:
            type: object
            properties:
              vesselIMONumber:
                type: string
              transportCalls:
                type: array
                items:
                  type: object
                  properties:
                    UNLocationCode:
                      type: string
                    portCallStatusCode:
                      type: string
                    plannedArrivalDate:
                      type: string
                      format: date-time
                    plannedDepartureDate:
                      type: string
                      format: date-time
